<div class="error">
    <img src="https://i.imgur.com/dXDbLVf.jpg" alt="404" style="width:100%">
    <div class="text">
        <h1>RIP: Page Not Found Sry</h1>
        <a href="/gallery"><button>Back to Gallery</button></a>
    </div>
</div>