<div class='home'>
    {{err}}
    <nav class="navigation">
        <a href="/login" class="navLogin">Login</a>
        <a href="/register" class="navRegister">Register</a>
    </nav>
    <a href="/gallery"><button>Gallery</button></a>
</div>